@import "tailwindcss";

@theme {
  --color-nexio-sidebar: #1E1B4B;
  --color-nexio-violet: #7C3AED;
  --color-nexio-violet-soft: #EDE9FE;
  --color-nexio-bg: #F8FAFC;
  --color-nexio-violet-muted: #A78BFA;
}